@import '../variables';

.category-box {
    width: 20vw;
    height: 30vh;
    border-radius: 10%;
    border-style: outset;
    border-color: $primary-color-3;
    background-color:$primary-color-2;
    @include category-box;

    .category-img {
        height: 20vh;
        width: 15vw;
        @include flex-relative
        // bottom: 5%;
    }

    
    

}

.landing {
    @include landing-page;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    // background-color: #6379e6;

    .landing-header {
        @include row-evenspace

    }

    .categories {
        @include row-evenspace;

        .category {
            display: flex;
            flex-direction: column;


            .category-h2 {
                @include black-font;
            }


            .category-box {
                width: 20vw;
                height: 30vh;
                border-radius: 10%;
                background-color:$primary-color-1;
                @include category-box;
            
                .category-img {
                    height: 20vh;
                    width: 15vw;
                    @include flex-relative
                    // bottom: 5%;
                }
            }
        }
    }
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    width: 100%;
    background-color: $primary-color-2;

    img {
        width: 3vw;
        height: 5vh;
        margin-left: 1.5%;
    }

    .login-register {
        display: flex;
        // position: relative;
    }

    .nav-links {
        @include flex-relative;
        right: 5%;
        top: 5%;
        @include nav-links;
        width: 33vw;

        .login-register {
            display: flex;
            flex-direction: column;
        }

        .btns {
            display: flex;

            button {
                width: 9vw;
            }
        }

        p {
            color: white;
            font-weight: 600;
        }

        img {
            width: 5vh;
            height: 5vh;
        }

        .icons {
            width: 10%;
        }
    }
}



.product-box {
    height: 50vh;
    width: 25vw;
    margin-top: 3%;
    padding: 1%;
    background-color: $primary-color-1;
    flex-direction: column;
    @include wrap-center;
    border-style: solid;
    border-color: $primary-color-3;
    border-radius: 6%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;



    .product-img {
        max-width: 30vh;
        max-height: 30vh;
    }

    .product-text {
        font-size: 17px;
        font-weight: 600;
    }


    .img-box {
        width: 88%;
        height: 30vh;
        background-color: white;
    }


}

.mapped-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.cart {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .cart-items {
        height: 20vh;
        width: 60vw;
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom-style: solid;
        border-color: grey;

        .cart-img {
            max-height: 20vh;
            max-width: 30vw;
        }

        button {
            background-color: #d60412;
            color: black;
            font-size: 130%;
            font-weight: 650;
        }
    }

    .cart-test {
        display: flex;
        flex-direction: column;
    }


    .total-price-box {
        width: 40vw;
        height: 50vh;
        background-color: white;

        .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-style: solid;
            border-color: grey;
            margin: 1.5%;

            p {
                font-weight: 800;
                font-size: 140%;
            }


        }
        .map-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 1.5%;
        }
    }
    

}

.product-page {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;


    .product-info {
        
        height: 100vh;
        width: 100%;
        background-color: white;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        

        .auth-modal {
            z-index: 1;
            display: flex;
            position: relative;
            bottom: 80%;
            justify-content: space-evenly;
            width: 44vw;
            height: 44vh;
            background-color: $primary-color-2;

            .auth-modal-input {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                input {
                    width: 33vw;
                    height: 3vh;
                }

                .test-2 {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }

                .auth-modal-btn {
                    display: flex;
                    justify-content: space-evenly;

                    button {
                        width: 10vw;
                        height: 4vh;
                        font-size: 125%;
                        font-weight: 600;
                    }
                }
            }
        }

        .product-image {
            @include product-margins;
            width: 40vw;
            max-height: 100vh;
            
        }

        .product-header {
            @include product-margins;
            border-bottom-style: solid;
            border-color: grey;
        }

        .product-desc {
            background-color: whitesmoke;
            @include product-margins;
            width: 44%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .button {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 1.5%;

                button {
                    background-color: $primary-color-3;
                    color: white;
                    font-size: 150%;
                    font-weight: 600;
                    width: 15vw;
                    height: 7vh;
                }
            }


            .price-desc {
                @include product-margins;
                
                text-align: left;
                display: flex;
                flex-direction: column;


                p {
                    font-size: 150%;
                    @include product-margins;
                }

                h2 {
                    border-top-style: solid;
                    border-bottom-style: solid;
                    border-color: grey;
                    font-size: 200%;
                    @include product-margins;
                }
            }
        }

        .test {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

    }
}


